/* http://paletton.com/#uid=53+0v0kBu7dt87-tX9UKhboBVh2 */

body {
	font-family: sans-serif;
	color: #eee;
	background-color: #021725;
}

img {
	max-width:100%;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #eee;
	text-decoration: underline;
}

h1 {
	font-family: Arial;
}

.mapcode {
	color: #e76f51;
}

.name {
	color: #f4a261;
}

.tag {
	color: #e9c46a;
}

.container {
	display: flex;
	flex-direction: column;
	width:66%;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.body {
	flex-direction: column;
	flex: 1;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.table {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 0;
	padding: 0;
}

.cell {
	background-color: #02243A;
	box-sizing: border-box;
	border: 1px solid #124c71;
	width: 40%;
	flex-grow: 1;
	margin: 0 40px 40px 0;
	padding: 10px 20px;
	padding-bottom: 25px;
	position: relative;
	overflow: hidden;
}

.cellbot {
  font-size: small;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  padding-left: 20px;
  padding-bottom: 15px;
}

.cellbot::before {
  display: inline-block;  
  height: 100%;
  vertical-align: baseline;
  content: '';
}

.centered {
	display: block;
	text-align: center;
	overflow: hidden;
}

.button {
	box-sizing:border-box;
	font-family: monospace;
	background-color: #111;
	border: 1px solid #999;
	padding: 5px 5px;
	margin: 10px 0px;
	color: #eee;
	width: 100%;
}

.button-free {
	display: inline;
	font-family: monospace;
	background-color: #111;
	border: 1px solid #999;
	padding: 5px 5px;
	margin: 10px 0px;
	color: #eee;
}

.login {
	display: inline;
	float: left;
	font-family: monospace;
	background-color: #111;
	border: 1px solid #999;
	padding: 5px 5px;
	margin: 10px 5px;
	color: #eee;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

td {
  border: 1px solid #202020;
  padding: 0px 10px;
  width: 10%;
  text-align: center;
}